<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="be02e4d4-18ab-4768-a747-7b149ce509d4" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://10.179.196.123" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="be02e4d4-18ab-4768-a747-7b149ce509d4fileName">http%3A%2F%2F10.179.196.123</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://10.179.196.123</con:endpoint></con:endpoints></con:interface>